
.container {
  display: flex;
  flex-direction: column;
}

.current-weather {
  display: grid;
  grid-template-areas: 'left right';
  height: 200px;
  width: 400px;
}

.current-weather .left > img  {
  max-width: 150px;
  max-height: 150px;
}

.container .top-container {
  display: flex;
}

.container .bottom-container > ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px 0px 20px 0px;
  padding: 0;
}
.container .bottom-container > ul > li {
  margin-top: 25px;
}


.add-to-favorites {
  flex: auto;
  position: absolute;
  right: 90px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right > h3, h4, h5, h6, p {
  margin: 5px 0px;
}

.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;

  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}



@media screen and (max-width: 700px ) {

  .container {

    .top-container {
      display: flex;
      flex-wrap: wrap;
      flex-flow: column-reverse;
      height: 450px;
      align-items: center;
    }

    .bottom-container {
      order: 2;
    }
  }

  .add-to-favorites {
    display: flex;
    flex: 0%;
    position: relative;
    right: 0;
  }
  .current-weather {
    align-items: center;
    display: flex;
    flex-flow: column;
    width: 250px;
    flex: 2;
    order: 1;
  }


}

// .container {
//   .top-container {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     justify-content: center;
//     width: 100%;
//     text-align: center;
//     order: 1;
//   }

//   .bottom-container { order: 2;}
// }
// .add-to-favorites {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   justify-content: center;
//   width: 100%;
//   text-align: center;
//   order: 2;
// }
// .current-weather {
//   display: flex;
//   flex-direction: column;
// }
